<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="PersonSqlCe"
         connectionString="Data Source=PersonDatabase.sdf; Persist Security Info=False;"/>
    <add name="OrdersSqlServer"
         connectionString="Data Source=localhost; Initial Catalog=Orders; Integrated Security=SSPI;"/>
  </connectionStrings>  
</configuration>